/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* General Page Styling */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Buttons (shared styles) */
button {
    padding: 10px 20px;
    background-color: rgba(137, 207, 240, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4a7c55;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}
