/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.navbar .logo {
    color: white;
    font-size: 1.5rem;
    margin-right: 63%;
}
.navbar .logo-image{
    color:white;
    margin-left: 1%;
    
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Home Page Header */
.main-header {
    text-align: center;
    padding: 100px 20px;
    background-color: #e0e0e0;
}

.main-header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.main-header .description {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-btn {
    padding: 15px 30px;
    background-color: #5c9e6d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.cta-btn:hover {
    background-color: #4a7c55;
}

/* Content Section */
.content {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
}

.preview {
    width: 45%;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.features {
    width: 45%;
}

.feature-box {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
